@import "colors";

.MuiPopover-root {
  max-width: 230px;
  max-height: 280px;
}

.MuiDateCalendar-root {
  width: 200px;
  min-width: 230px;
  max-height: 280px;
}
.MuiMonthCalendar-root {
  width: 200px;
  min-width: 230px;
  max-height: 280px;
}
