@use "sass:color";

// Base colors, only used in this file
$color-black: #000;
$color-white: #fff;
$color-white-opacity-30pc: color.adjust($color-white, $alpha: -0.7);
$color-blue: #4988c7;
$color-blue-opacity-15pc: color.adjust($color-blue, $alpha: -0.85);
$color-red: #c00c36;
$color-red-opacity-15pc: color.adjust($color-red, $alpha: -0.85);
$color-green: #46a210;
$color-green-opacity-15pc: color.adjust($color-green, $alpha: -0.85);
$color-orange: #ff8f4c;
$color-orange-opacity-15pc: color.adjust($color-orange, $alpha: -0.85);
$color-cyan: #00bcd4;
$color-cyan-grey: #9ba1a1;
$color-cyan-grey-light: #f0f3f3;
$color-cyan-dark: #174751;
$color-cyan-dark-opacity-30pc: color.adjust($color-cyan-dark, $alpha: -0.7);
$color-cyan-dark-opacity-20pc: color.adjust($color-cyan-dark, $alpha: -0.8);
$color-cyan-dark-opacity-5pc: color.adjust($color-cyan-dark, $alpha: -0.95);
$color-cyan-darker: #0e2930;
$color-cyan-darker-opacity-20pc: color.adjust($color-cyan-darker, $alpha: -0.8);
$color-grey: #d2d8d9;
$color-grey-light: #f0f0f0;
$color-grey-lighter: #f2f2f2;
$color-grey-lightest: #f9f9f9;
$color-grey-dark: #444;
$color-grey-darker: #444444;
$color-glacier-1: #3eb1c8;
$color-glacier-2: #005f83;
$color-glacier-2-opacity-30pc: color.adjust($color-glacier-2, $alpha: -0.7);
$color-glacier-2-opacity-20pc: color.adjust($color-glacier-2, $alpha: -0.8);
$color-glacier-2-opacity-5pc: color.adjust($color-glacier-2, $alpha: -0.95);

// Functional colors, to use in the rest of the app
$color-app-bg: $color-white;
$color-offset-bg: $color-cyan-grey-light;
$color-body-text: $color-grey-darker;
$color-negative-text: $color-white;
$color-offset-text: $color-grey-darker;
$color-text-disabled: $color-cyan-grey;
$color-modal-heading: $color-grey-darker;
$color-drop-shadow: $color-cyan-darker-opacity-20pc;
$color-link: $color-cyan;
$color-heading: $color-grey-darker;
$color-border: $color-grey;
$color-border-secondary: $color-grey-lighter;
$color-input-placeholder: $color-cyan-grey;
$color-input-placeholder-focused: $color-grey-darker;
$color-input-border-focused: $color-grey-darker;
$color-input-bg-disabled: $color-grey-lightest;
$color-btn-primary: $color-glacier-2;
$color-btn-primary-disabled: $color-cyan-grey;
$color-btn-secondary: $color-grey-light;
$color-btn-secondary-hover: $color-grey;
$color-btn-danger: $color-red;
$color-btn-text-secondary: $color-glacier-2;
$color-btn-text-primary-disabled: $color-white-opacity-30pc;
$color-btn-text-secondary-disabled: $color-glacier-2-opacity-30pc;
$color-icon-success: $color-green;
$color-icon-warning: $color-orange;
$color-icon-danger: $color-red;
$color-tab-text: $color-grey-darker;
$color-tab-bg-hover: $color-glacier-2-opacity-5pc;
$color-tag-success-bg: $color-green-opacity-15pc;
$color-tag-success-text: $color-green;
$color-tag-info-bg: $color-blue-opacity-15pc;
$color-tag-info-text: $color-blue;
$color-tag-warn-bg: $color-orange-opacity-15pc;
$color-tag-warn-text: $color-orange;
$color-tag-danger-bg: $color-red-opacity-15pc;
$color-tag-danger-text: $color-red;
$color-tag-primary-bg: $color-glacier-2-opacity-5pc;
$color-tag-primary-text: $color-grey-darker;
$color-tag-secondary-bg: $color-glacier-2-opacity-20pc;
$color-tag-secondary-text: $color-grey-darker;
$color-table-header: $color-cyan-grey-light;
$color-row-bg-hover: $color-grey-lightest;
$color-subtable-header: $color-grey-lightest;
$color-tooltip-bg: $color-grey-darker;
$color-progress-bar-bg: $color-grey;
$color-progress-bar-fg: $color-grey-darker;
$color-action-icon: $color-grey-dark;
// stylelint-disable-next-line max-line-length
$colors-chart: $color-grey-darker $color-blue $color-cyan #d1dadc #295b3d #6da783 #9ba797 #50b12c #a7d994 #beaa8c
  #d9862a #efb473 #dbcab0 #2d773a #1b3a37 #69847a;
