@font-face {
  font-family: "Proxima Nova";
  src: url("@fonts/proxima-nova/Proxima Nova Regular.otf");
}
@font-face {
  font-family: "Proxima Nova";
  src: url("@fonts/proxima-nova/Proxima Nova Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Proxima Nova Black";
  src: url("@fonts/proxima-nova/Proxima Nova Black.otf");
}
